In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://en.wikipedia.org/wiki/World_population"

response = requests.get(url)

soup = BeautifulSoup(response.content, "html.parser")

print(soup.title)
print(soup.title.text)

# print(soup.prettify()) # print the whole html code

# find all the tables

tables = soup.find_all("table")

dataframe = [] # empty list

for i, table in enumerate(tables):
    rows = table.find_all("tr")[1:] # skip the first row
    data = [] # empty list
    for row in rows:
        cols = row.find_all("td")
        cols = [col.text.strip() for col in cols]
        data.append(cols)
    df = pd.DataFrame(data)
    dataframe.append(df)
dataframe[1].head()
# dataframe[1].to_csv("world_population.csv", index=False, header=True)

<title>World population - Wikipedia</title>
World population - Wikipedia

,0,1,2,3
0,Sub-Saharan Africa,"1,152 (14.51%)","1,401 (16.46%)","2,094 (21.62%)"
1,Northern Africa and Western Asia,549 (6.91%),617 (7.25%),771 (7.96%)
2,Central Asia and Southern Asia,"2,075 (26.13%)","2,248 (26.41%)","2,575 (26.58%)"
3,Eastern Asia and Southeastern Asia,"2,342 (29.49%)","2,372 (27.87%)","2,317 (23.92%)"
4,Europe and Northern America,"1,120 (14.10%)","1,129 (13.26%)","1,125 (11.61%)"

In [2]:
import requests
from bs4 import BeautifulSoup


req = requests.get("https://www.geeksforgeeks.org/")

soup = BeautifulSoup(req.content, 'html.parser')

# print(soup.title) #title tag
# print(soup.p) #p tag
# print(soup.text) #text

# print(soup.prettify())

soup.title.get_text()

'GeeksforGeeks | Your All-in-One Learning Portal'

In [7]:
from selenium import webdriver
from bs4 import BeautifulSoup
import time

driver = webdriver.Chrome()  # Ensure WebDriver is installed
driver.get("https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population")
time.sleep(5)  # Allow JavaScript to load

soup = BeautifulSoup(driver.page_source, 'html.parser')
table = soup.find('table', {'class': 'wikitable sortable'})
driver.quit()

In [11]:
import requests
from bs4 import BeautifulSoup

# Send a GET request to the Wikipedia page
req = requests.get("https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population")

# Check if request was successful
if req.status_code != 200:
    print("Failed to retrieve the webpage.")
    exit()

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(req.content, 'html.parser')

# Print all tables to verify their presence
tables = soup.find_all('table')
print(f"Total tables found: {len(tables)}")

# Try to find the correct table by index (assuming it's the first one)
if tables:
    table = tables[0]  # You can adjust this index if necessary
else:
    print("No tables found!")
    exit()

# Find all the rows in the table
rows = table.find_all('tr')

# Loop through each row and extract the data
for row in rows[1:]:  # Skipping the header row
    cells = row.find_all('td')

    if len(cells) > 1:
        rank = cells[0].text.strip()
        country = cells[1].text.strip()
        population = cells[2].text.strip()

        print(f'{rank}\t{country}\t{population}')

Total tables found: 3
World	8,139,863,010	100%
India	1,413,324,000	17.3%
China	1,408,280,000	17.2%
United States	340,110,988	4.2%
Indonesia	282,477,584	3.5%
Pakistan	241,499,431	3.0%
Nigeria	223,800,000	2.7%
Brazil	212,583,750	2.6%
Bangladesh	169,828,911	2.1%
Russia	146,028,325	1.8%
Mexico	130,294,079	1.6%
Japan	123,400,000	1.5%
Philippines	114,123,600	1.4%
Ethiopia	109,499,000	1.3%
Democratic Republic of the Congo	109,276,000	1.3%
Egypt	105,914,499	1.3%
Vietnam	101,343,800	1.2%
Iran	85,961,000	1.1%
Turkey	85,664,944	1.0%
Germany	83,555,478	1.0%
France	68,609,000	0.8%
United Kingdom	68,265,209	0.8%
Thailand	65,932,105	0.8%
South Africa	63,015,904	0.8%
Tanzania	61,741,120	0.8%
Italy	58,924,313	0.7%
Colombia	52,695,952	0.6%
Kenya	52,428,290	0.6%
Myanmar	51,316,756	0.6%
South Korea	51,183,336	0.6%
Sudan	50,448,963	0.6%
Spain	49,077,984	0.6%
Algeria	47,400,000	0.6%
Argentina	47,067,641	0.6%
Uganda	45,905,417	0.6%
Iraq	44,414,800	0.5%
Afghanistan	42,045,000	0.5%
Canada	41,528,680	0.5%
Uzbekistan	37,697,787	0.5%
Poland	37,470,000	0.5%
Morocco	36,828,330	0.5%
Angola	35,121,734	0.4%
Malaysia	34,157,500	0.4%
Peru	34,038,457	0.4%
Mozambique	33,244,414	0.4%
Ghana	33,007,618	0.4%
Ukraine	32,962,000	0.4%
Yemen	32,305,264	0.4%
Saudi Arabia	32,175,224	0.4%
Madagascar	30,811,969	0.4%
Ivory Coast	29,389,150	0.4%
Nepal	29,164,578	0.4%
Cameroon	28,758,503	0.4%
Venezuela	28,405,543	0.3%
Australia	27,309,396	0.3%
Niger	26,312,034	0.3%
North Korea	25,950,000	0.3%
Syria	24,672,760	0.3%
Burkina Faso	23,409,015	0.3%
Taiwan	23,374,742	0.3%
Mali	22,395,489	0.3%
Sri Lanka	21,763,170	0.3%
Kazakhstan	20,316,155	0.2%
Malawi	20,270,568	0.2%
Chile	20,086,377	0.2%
Zambia	19,610,769	0.2%
Romania	19,064,409	0.2%
Somalia	19,009,151	0.2%
Chad	18,675,547	0.2%
Senegal	18,126,390	0.2%
Netherlands	18,060,445	0.2%
Guatemala	17,843,132	0.2%
Cambodia	17,336,307	0.2%
Ecuador	16,938,986	0.2%
Zimbabwe	16,751,469	0.2%
South Sudan	15,254,268	0.2%
Guinea	14,363,931	0.2%
Rwanda	13,798,561	0.2%
Benin	12,910,087	0.2%
Burundi	12,837,740	0.2%
Tunisia	11,887,412	0.1%
Haiti	11,867,032	0.1%
Belgium	11,812,354	0.1%
Papua New Guinea	11,781,559	0.1%
Jordan	11,734,000	0.1%
Bolivia	11,312,620	0.1%
Cuba	11,089,511	0.1%
Czech Republic	10,909,500	0.1%
Dominican Republic	10,771,504	0.1%
United Arab Emirates	10,678,556	0.1%
Portugal	10,639,726	0.1%
Sweden	10,587,970	0.1%
Greece	10,400,720	0.1%
Tajikistan	10,277,100	0.1%
Azerbaijan	10,230,666	0.1%
Israel	10,045,100	0.1%
Honduras	9,892,632	0.1%
Hungary	9,540,000	0.1%
Austria	9,198,214	0.1%
Belarus	9,109,280	0.1%
Switzerland	9,027,859	0.1%
Sierra Leone	8,884,032	0.1%
Togo	8,095,498	0.10%
Laos	7,546,000	0.09%
Hong Kong (China)	7,534,200	0.09%
Libya	7,381,023	0.09%
Kyrgyzstan	7,161,900	0.09%
Turkmenistan	7,057,841	0.09%
Nicaragua	6,803,886	0.08%
Serbia	6,605,168	0.08%
Central African Republic	6,470,307	0.08%
Bulgaria	6,445,481	0.08%
Republic of the Congo	6,142,180	0.08%
Paraguay	6,109,644	0.07%
Singapore	6,036,900	0.07%
El Salvador	6,029,976	0.07%
Denmark	5,992,734	0.07%
Finland	5,640,437	0.07%
Norway	5,594,340	0.07%
Lebanon	5,490,000	0.07%
Palestine	5,483,450	0.07%
Slovakia	5,419,451	0.07%
Ireland	5,380,300	0.07%
New Zealand	5,356,700	0.07%
Costa Rica	5,309,625	0.06%
Oman	5,274,249	0.06%
Liberia	5,248,621	0.06%
Mauritania	4,927,532	0.06%
Kuwait	4,913,271	0.06%
Panama	4,064,780	0.05%
Croatia	3,859,686	0.05%
Georgia	3,694,600	0.05%
Eritrea	3,535,603	0.04%
Mongolia	3,504,741	0.04%
Uruguay	3,499,451	0.04%
Bosnia and Herzegovina	3,264,873	0.04%
Puerto Rico (US)	3,203,295	0.04%
Armenia	3,075,800	0.04%
Namibia	3,022,401	0.04%
Lithuania	2,889,402	0.04%
Qatar	2,857,822	0.03%
Jamaica	2,825,544	0.03%
Moldova	2,423,300	0.03%
Gambia	2,417,471	0.03%
Botswana	2,410,338	0.03%
Gabon	2,408,586	0.03%
Albania	2,402,113	0.03%
Lesotho	2,306,000	0.03%
Slovenia	2,129,052	0.03%
Latvia	1,848,600	0.02%
North Macedonia	1,826,247	0.02%
Guinea-Bissau	1,781,308	0.02%
Bahrain	1,588,670	0.02%
Kosovo	1,585,566	0.02%
Equatorial Guinea	1,558,160	0.02%
Timor-Leste	1,373,024	0.02%
Estonia	1,369,995	0.02%
Trinidad and Tobago	1,368,333	0.02%
Mauritius	1,244,477	0.02%
Eswatini	1,235,549	0.02%
Djibouti	1,066,809	0.01%
Cyprus	966,400	0.01%
Fiji	900,869	0.01%
Comoros	870,038	0.01%
Bhutan	777,224	0.010%
Guyana	772,975	0.009%
Solomon Islands	750,325	0.009%
Macau (China)	688,300	0.008%
Luxembourg	672,050	0.008%
Montenegro	623,633	0.008%
Suriname	616,500	0.008%
Western Sahara	590,506	0.007%
Malta	563,443	0.007%
Maldives	515,132	0.006%
Cape Verde	491,233	0.006%
Northern Cyprus	476,214	0.006%
Brunei	455,500	0.006%
Belize	410,919	0.005%
Bahamas	398,165	0.005%
Iceland	389,450	0.005%
Transnistria	360,938	0.004%
Vanuatu	321,409	0.004%
French Polynesia (France)	279,890	0.003%
New Caledonia (France)	268,510	0.003%
Barbados	267,800	0.003%
Abkhazia	244,236	0.003%
São Tomé and Príncipe	228,319	0.003%
Samoa	205,557	0.003%
Saint Lucia	184,100	0.002%
Curaçao (Netherlands)	155,826	0.002%
Guam (US)	153,836	0.002%
Seychelles	122,038	0.001%
Kiribati	120,740	0.001%
Grenada	112,579	0.001%
Saint Vincent and the Grenadines	110,872	0.001%
Aruba (Netherlands)	107,566	0.001%
Micronesia	105,754	0.001%
Antigua and Barbuda	103,603	0.001%
Jersey (UK)	103,267	0.001%
Tonga	100,179	0.001%
Andorra	87,663	0.001%
U.S. Virgin Islands (US)	87,146	0.001%
Cayman Islands (UK)	84,738	0.001%
Isle of Man (UK)	84,530	0.001%
Dominica	67,408	0.0008%
Guernsey (UK)	64,781	0.0008%
Bermuda (UK)	64,055	0.0008%
Greenland (Denmark)	56,542	0.0007%
South Ossetia	56,520	0.0007%
Faroe Islands (Denmark)	54,784	0.0007%
Saint Kitts and Nevis	51,320	0.0006%
Turks and Caicos Islands (UK)	50,894	0.0006%
American Samoa (US)	49,710	0.0006%
Northern Mariana Islands (US)	47,329	0.0006%
Marshall Islands	42,418	0.0005%
Sint Maarten (Netherlands)	41,349	0.0005%
Liechtenstein	40,900	0.0005%
British Virgin Islands (UK)	39,471	0.0005%
Monaco	38,367	0.0005%
Gibraltar (UK)	38,000	0.0005%
San Marino	34,035	0.0004%
Saint Martin (France)	31,496	0.0004%
Palau	16,733	0.0002%
Anguilla (UK)	15,931	0.0002%
Cook Islands (New Zealand)	15,040	0.0002%
Nauru	11,680	0.0001%
Wallis and Futuna (France)	11,620	0.0001%
Tuvalu	10,643	0.0001%
Saint Barthélemy (France)	10,562	0.0001%
Saint Pierre and Miquelon (France)	5,819	0%
Saint Helena, Ascension and Tristan da Cunha (UK)	5,651	0%
Montserrat (UK)	4,386	0%
Falkland Islands (UK)	3,662	0%
Norfolk Island (Australia)	2,188	0%
Christmas Island (Australia)	1,692	0%
Niue (New Zealand)	1,681	0%
Tokelau (New Zealand)	1,647	0%
Vatican City	882	0%
Cocos (Keeling) Islands (Australia)	593	0%
Pitcairn Islands (UK)	35	0%

In [13]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the Wikipedia page
req = requests.get("https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population")

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(req.content, 'html.parser')

# Find the table containing the population data
table = soup.find('table', {'class': 'wikitable sortable'})
# Try to find the correct table by index (assuming it's the first one)
if tables:
    table = tables[0]  # You can adjust this index if necessary
else:
    print("No tables found!")
    exit()
# Find all the rows in the table
rows = table.find_all('tr')

# Create an empty DataFrame to store the data
data = pd.DataFrame(columns=['Rank', 'Country', 'Population'])

# Loop through each row and extract the data
for row in rows:
    # Find all the cells in the row
    cells = row.find_all('td')
    
    # Extract the data from the cells
    if len(cells) > 1:
        rank = cells[0].text.strip()
        country = cells[1].text.strip()
        population = cells[2].text.strip()
        
        # Append the data to the DataFrame
        data = pd.concat([data, pd.DataFrame({'Country': [rank], 'Population': [population]})], ignore_index=True)

# Print the DataFrame
data

    Rank                              Country Population
0    NaN                                World       100%
1    NaN                                India      17.3%
2    NaN                                China      17.2%
3    NaN                        United States       4.2%
4    NaN                            Indonesia       3.5%
..   ...                                  ...        ...
235  NaN                   Niue (New Zealand)         0%
236  NaN                Tokelau (New Zealand)         0%
237  NaN                         Vatican City         0%
238  NaN  Cocos (Keeling) Islands (Australia)         0%
239  NaN                Pitcairn Islands (UK)         0%

[240 rows x 3 columns]

In [14]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the Wikipedia page
req = requests.get("https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population")

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(req.content, 'html.parser')

# Find the table containing the population data
table = soup.find('table', {'class': 'wikitable sortable'})
# Try to find the correct table by index (assuming it's the first one)
if tables:
    table = tables[0]  # You can adjust this index if necessary
else:
    print("No tables found!")
    exit()
# Find all the rows in the table
rows = table.find_all('tr')

# Create an empty DataFrame to store the data
data = pd.DataFrame(columns=['Rank', 'Country', 'Population'])

# Loop through each row and extract the data
for row in rows:
    # Find all the cells in the row
    cells = row.find_all('td')
    
    # Extract the data from the cells
    if len(cells) > 1:
        rank = cells[0].text.strip()
        country_cell = cells[1].find('a')
        if country_cell is not None:
            country = country_cell.text.strip()
        else:
            country = cells[1].text.strip()
        population = cells[2].text.strip()
        
        # Append the data to the DataFrame
        data = pd.concat([data, pd.DataFrame({'Rank': [rank], 'Country': [country], 'Population': [population]})], ignore_index=True)

# Print the DataFrame
data

                                    Rank        Country Population
0                                  World  8,139,863,010       100%
1                                  India  1,413,324,000      17.3%
2                                  China  1,408,280,000      17.2%
3                          United States    340,110,988       4.2%
4                              Indonesia    282,477,584       3.5%
..                                   ...            ...        ...
235                   Niue (New Zealand)          1,681         0%
236                Tokelau (New Zealand)          1,647         0%
237                         Vatican City            882         0%
238  Cocos (Keeling) Islands (Australia)            593         0%
239                Pitcairn Islands (UK)             35         0%

[240 rows x 3 columns]

In [15]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://en.wikipedia.org/wiki/World_population'

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# Find all the tables on the webpage
tables = soup.find_all('table')
# Try to find the correct table by index (assuming it's the first one)
if tables:
    table = tables[0]  # You can adjust this index if necessary
else:
    print("No tables found!")
    exit()
# For each table, create a DataFrame and print it
for i, table in enumerate(tables):
    # The [1:] is to skip the header row
    rows = table.find_all('tr')[1:]
    data = []
    for row in rows:
        cols = row.find_all('td')
        cols = [col.text.strip() for col in cols]
        data.append(cols)
    df = pd.DataFrame(data)
    print(f"Table {i}:")
    print(df)
    print("\n\n")

Table 0:
          0     1     2     3     4     5     6     7     8     9
0      1804  1927  1960  1974  1987  1999  2011  2022  2037  2057
1  200,000+   123    33    14    13    12    12    11    15    20



Table 1:
                                    0               1               2  \
0                  Sub-Saharan Africa  1,152 (14.51%)  1,401 (16.46%)
1    Northern Africa and Western Asia     549 (6.91%)     617 (7.25%)
2      Central Asia and Southern Asia  2,075 (26.13%)  2,248 (26.41%)
3  Eastern Asia and Southeastern Asia  2,342 (29.49%)  2,372 (27.87%)
4         Europe and Northern America  1,120 (14.10%)  1,129 (13.26%)
5     Latin America and the Caribbean     658 (8.29%)     695 (8.17%)
6           Australia and New Zealand      31 (0.39%)      34 (0.40%)
7                             Oceania      14 (0.18%)      15 (0.18%)
8                               World           7,942           8,512

                3
0  2,094 (21.62%)
1     771 (7.96%)
2  2,575 (26.58%)
3  2,317 (23.92%)
4  1,125 (11.61%)
5     749 (7.73%)
6      38 (0.39%)
7      20 (0.21%)
8           9,687



Table 2:
                          0      1          2  \
0                      Asia  104.1      4,641
1                    Africa   44.4      1,340
2                    Europe   73.4        747
3             Latin America   24.1        653
4  Northern America[note 1]   14.9        368
5                   Oceania      5         42
6                Antarctica     ~0  0.004[86]

                                                   3  \
0                             1,439,090,595 –  India
1                           0,211,401,000 –  Nigeria
2  0,146,171,000 –  Russia, approx. 110 million i...
3                            0,214,103,000 –  Brazil
4                     0,332,909,000 –  United States
5                         0,025,917,000 –  Australia
6                                        N/A[note 2]

                                                   4
0  13,515,000 –  Tokyo Metropolis(37,400,000 –  G...
1   09,500,000 –  Cairo(20,076,000 –  Greater Cairo)
2  13,200,000 –  Moscow(20,004,000 –  Moscow metr...
3  12,252,000 –  São Paulo City(21,650,000 –  São...
4  08,804,000 –  New York City(23,582,649 –  New ...
5                               05,367,000 –  Sydney
6                      00,001,258 –  McMurdo Station



Table 3:
               0              1      2            3  \
0          India  1,425,775,850  17.4%  14 Apr 2023
1          China  1,409,670,000  17.2%  17 Jan 2024
2  United States    337,806,373  4.13%  28 Apr 2025
3      Indonesia    278,696,200  3.41%   1 Jul 2023
4       Pakistan    229,488,994  2.81%   1 Jul 2022
5        Nigeria    216,746,934  2.65%   1 Jul 2022
6         Brazil    219,099,822  2.68%  28 Apr 2025
7     Bangladesh    168,220,000  2.06%   1 Jul 2020
8         Russia    147,190,000  1.80%   1 Oct 2021
9         Mexico    128,271,248  1.57%  31 Mar 2022

                                     4
0                    UN projection[89]
1         National annual estimate[90]
2        National population clock[91]
3         National annual estimate[92]
4                    UN projection[93]
5                    UN projection[93]
6        National population clock[94]
7       Annual Population Estimate[95]
8  2021 preliminary census results[96]
9



Table 4:
                                                    0  \
0
1                                                   1
2                                                   2
3                                                   3
4                                                   4
5                                                   5
6                                                   6
7                                                   7
8                                                   8
9                                                   9
10                                                 10
11
12  Notes:\n\n\n^ 2030 = Medium variant.\n\n^ Chin...

                                                    1      2      3      4
0   Graphs are unavailable due to technical issues...   None   None   None
1                                            China[B]  1,270  1,376  1,416
2                                               India  1,053  1,311  1,528
3                                       United States    283    322    356
4                                           Indonesia    212    258    295
5                                            Pakistan    136    208    245
6                                              Brazil    176    206    228
7                                             Nigeria    123    182    263
8                                          Bangladesh    131    161    186
9                                              Russia    146    146    149
10                                             Mexico    103    127    148
11                                        World total  6,127  7,349  8,501
12                                               None   None   None   None



Table 5:
Empty DataFrame
Columns: []
Index: []



Table 6:
    0                      1              2          3      4
0   1              Singapore      5,921,231        719  8,235
1   2             Bangladesh    165,650,475    148,460  1,116
2   3  Palestine[note 3][99]      5,223,000      6,025    867
3   4         Taiwan[note 4]     23,580,712     35,980    655
4   5            South Korea     51,844,834     99,720    520
5   6                Lebanon      5,296,814     10,400    509
6   7                 Rwanda     13,173,730     26,338    500
7   8                Burundi     12,696,478     27,830    456
8   9                 Israel      9,402,617     21,937    429
9  10                  India  1,389,637,446  3,287,263    423



Table 7:
    0               1              2          3      4                5
0   1           India  1,389,637,446  3,287,263    423          Growing
1   2        Pakistan    242,923,845    796,095    305  Rapidly growing
2   3      Bangladesh    165,650,475    148,460  1,116          Growing
3   4           Japan    124,214,766    377,915    329   Declining[100]
4   5     Philippines    114,597,229    300,000    382          Growing
5   6         Vietnam    103,808,319    331,210    313          Growing
6   7  United Kingdom     67,791,400    243,610    278          Growing
7   8     South Korea     51,844,834     99,720    520           Steady
8   9          Taiwan     23,580,712     35,980    655           Steady
9  10       Sri Lanka     23,187,516     65,610    353          Growing



Table 8:
                0      1           2     3
0            None   None        None  None
1   2,543,130,380  1.75%  43,808,223    17
2   2,590,270,899  1.85%  47,140,519    17
3   2,640,278,797  1.93%  50,007,898    18
4   2,691,979,339  1.96%  51,700,542    18
..            ...    ...         ...   ...
69  7,764,951,032  1.06%  81,161,204    52
70  7,840,952,880  0.98%  76,001,848    53
71  7,909,295,151  0.87%  68,342,271    53
72  7,975,105,156  0.83%  65,810,005    54
73  8,045,311,447  0.88%  70,206,291    54

[74 rows x 4 columns]



Table 9:
    0    1    2    3    4      5      6      7      8      9      10     11  \
0  585  660  710  791  978  1,262  1,650  2,521  6,008  6,707  6,896  7,052
1   86  114  106  106  107    111    133    221    783    973  1,022  1,052
2  282  350  411  502  635    809    947  1,402  3,700  4,054  4,164  4,250
3  168  170  178  190  203    276    408    547    675    732    738    740
4   40   20   10   16   24     38     74    167    508    577    590    603
5    6    3    2    2    7     26     82    172    312    337    345    351
6    3    3    3    2    2      2      6     13     30     34     37     38

      12     13
0  9,725  9,746
1  2,478  2,308
2  5,267  5,561
3    734    517
4    784    912
5    433    398
6     57     51



Table 10:
     0     1     2     3     4     5     6     7     8     9     10    11  \
0  14.7  17.3  14.9  13.4  10.9   8.8   8.1   8.8  13.0  14.5  14.8  15.2
1  48.2  53.0  57.9  63.5  64.9  64.1  57.4  55.6  61.6  60.4  60.4  60.3
2  28.7  25.8  25.1  20.6  20.8  21.9  24.7  21.7  11.2  10.9  10.7  10.5
3   6.8   3.0   1.4   2.0   2.5   3.0   4.5   6.6   8.5   8.6   8.6   8.6
4   1.0   0.5   0.3   0.3   0.7   2.1   5.0   6.8   5.2   5.0   5.0   5.0
5   0.5   0.5   0.4   0.3   0.2   0.2   0.4   0.5   0.5   0.5   0.5   0.5

     12    13
0  25.5  23.7
1  54.2  57.1
2   7.6   5.3
3   8.1   9.4
4   4.5   4.1
5   0.6   0.5



Table 11:
          0      1      2    3    4    5     6                  7
0   < 0.015                                                 [116]
1         4                                                 [117]
2         5
3         5
4         5
5         7
6        14
7        27
8        50      7     33    9                  [citation needed]
9       100     14     66   16
10      200     23    141   28
11      400     70    269   50    8    1     2
12      458     86    243   84   39    3     3
13      580    114    339  111   10    3     3
14      682    106    436  125   10    2     3
15      791    106    502  163   16    2     2
16    1,000    107    656  203   24    7     3
17    1,262    111    809  276   38   26     2
18    1,650    133    947  408   74   82     6
19    2,525    229  1,394  549  169  172  12.7              [118]
20    2,758    254  1,534  577  193  187  14.2
21    3,018    285  1,687  606  221  204  15.8
22    3,322    322  1,875  635  254  219  17.5
23    3,682    366  2,120  657  288  231  19.7
24    4,061    416  2,378  677  326  242  21.5
25    4,440    478  2,626  694  365  254  23.0
26    4,853    550  2,897  708  406  267  24.9
27    5,310    632  3,202  721  447  281  27.0
28    5,735    720  3,475  728  487  296  29.1
29    6,127    814  3,714  726  527  314  31.1
30    6,520    920  3,945  729  564  329  33.4
31    6,930  1,044  4,170  735  600  344  36.4
32    7,349  1,186  4,393  738  634  358  39.3



Table 12:
Empty DataFrame
Columns: []
Index: []



Table 13:
       0    1      2    3
0  6,542    –  6,473    –
1  6,957  415  6,866  393
2  7,380  423  7,256  390
3  7,795  415  7,643  380
4  8,184  390  8,007  363
5  8,549  364  8,341  334
6  8,888  339  8,646  306
7  9,199  311  8,926  280
8  9,482  283  9,180  254
9  9,735  253  9,408  228



Table 14:
        0              1              2            3           4           5  \
0   6,144  3,741 (60.9%)    811 (13.2%)  726 (11.8%)  522 (8.5%)  312 (5.1%)
1   8,160  4,810 (58.9%)  1,520 (18.6%)   745 (9.1%)  663 (8.1%)  385 (4.7%)
2   9,660  5,280 (54.7%)  2,470 (25.6%)   703 (7.3%)  730 (7.6%)  426 (4.4%)
3  10,250  5,100 (49.8%)  3,290 (32.1%)   636 (6.2%)  698 (6.8%)  452 (4.4%)
4  10,180  4,610 (45.3%)  3,810 (37.4%)   592 (5.8%)  613 (6.0%)  475 (4.7%)

           6
0  31 (0.5%)
1  46 (0.6%)
2  57 (0.6%)
3  66 (0.6%)
4  73 (0.7%)



Table 15:
      0     1     2     3     4    5
0  1500  1804  1927  1974  2022  n/a
1     —   304   123    47    48    —



Table 16:
      0     1     2     3     4             5
0  1171  1715  1881  1960  1999  c. 2100[141]
1     —   544   166    79    39       c. 100+



Table 17:
                                                   0
0  Why Most Humans Live Inside This Small Circle ...



Table 18:
                                                   0
0  Demographics of the world\nDemographic transit...
1  Population decline\nPopulation density\nPhysio...
2  Biocapacity\nCarrying capacity\nI = P × A  × T...
3  Eugenics\nDysgenics\nHuman overpopulation\nMal...
4  Population and Environment\nPopulation and Dev...
5  Population and housing censuses by country\nLa...
6  7 Billion Actions\nChurch of Euthanasia\nInter...
7  Bennett's law\nGreen Revolution\nHuman impact ...
8                                 Commons\n Category



Table 19:
                                                   0   \
0   vteHuman impact on the environmentGeneral\nAnt...
1                                                None
2   Anthropocene\nEcological footprint\nEnvironmen...
3   Causes of climate change\nAgriculture\nanimal ...
4   Biodiversity threats\nbiodiversity loss\ndecli...
5   Alternative fuel vehicle propulsion\nBirth con...
6   Commons\n  Category\nby country\nassessment\nm...
7                                                None
8   Current population\nUnited Nations\nDemographi...
9   Africa\nAntarctica\nAsia\nEurope\nNorth Americ...
10  Americas\nArab world\nCommonwealth of Nations\...
11  World cities\nNational capitals\nMegacities\nM...
12  Past and future population\nWorld population e...
13  Current density\nPast and future population de...
14  Population growth rate\nNatural increase\nNet ...
15  World\nAfrica\nAsia\nEurope\nNorth America\nOc...
16  Age at childbearing\nAge at first marriage\nAg...
17  Antidepressant consumption\nAntiviral medicati...
18  Bloomberg Innovation Index\nEducation Index\nG...
19  Access to financial services\nDevelopment aid ...
20   List of international rankings\nLists by country
21                                               None
22  Biosphere > Biome > Ecosystem > Biocoenosis > ...
23                                               None
24                        Journals\n Outline\nStudies
25  Alter-globalization\nAnti-globalization moveme...
26  Global\nBalance of trade\nClimate change\nClim...
27  Balance of trade\nClimate change\nClimate just...
28  Brain drain\nreverse\nCare drain\nDevelopment ...
29  Capital accumulation\nDependency\nDevelopment\...
30  Economics\nDavid Autor\nRichard Baldwin\nRavi ...
31  David Autor\nRichard Baldwin\nRavi Batra\nJagd...
32  Samir Amin\nGiovanni Arrighi\nRobert W. Cox\nA...
33  Arjun Appadurai\nDaniele Archibugi\nK. Anthony...
34  Noam Chomsky\nThomas Friedman\nNaomi Klein\nJo...
35                         Category\n Business portal

                                                   1   \
0   Anthropocene\nEcological footprint\nEnvironmen...
1                                                None
2                                                None
3                                                None
4                                                None
5                                                None
6                                                None
7                                                None
8                                                None
9                                                None
10                                               None
11                                               None
12                                               None
13                                               None
14                                               None
15                                               None
16                                               None
17                                               None
18                                               None
19                                               None
20                                               None
21                                               None
22                                               None
23                                               None
24                                               None
25                                               None
26  Balance of trade\nClimate change\nClimate just...
27                                               None
28                                               None
29                                               None
30  David Autor\nRichard Baldwin\nRavi Batra\nJagd...
31                                               None
32                                               None
33                                               None
34                                               None
35                                               None

                                                   2   \
0   Causes of climate change\nAgriculture\nanimal ...
1                                                None
2                                                None
3                                                None
4                                                None
5                                                None
6                                                None
7                                                None
8                                                None
9                                                None
10                                               None
11                                               None
12                                               None
13                                               None
14                                               None
15                                               None
16                                               None
17                                               None
18                                               None
19                                               None
20                                               None
21                                               None
22                                               None
23                                               None
24                                               None
25                                               None
26  Brain drain\nreverse\nCare drain\nDevelopment ...
27                                               None
28                                               None
29                                               None
30  Samir Amin\nGiovanni Arrighi\nRobert W. Cox\nA...
31                                               None
32                                               None
33                                               None
34                                               None
35                                               None

                                                   3   \
0   Biodiversity threats\nbiodiversity loss\ndecli...
1                                                None
2                                                None
3                                                None
4                                                None
5                                                None
6                                                None
7                                                None
8                                                None
9                                                None
10                                               None
11                                               None
12                                               None
13                                               None
14                                               None
15                                               None
16                                               None
17                                               None
18                                               None
19                                               None
20                                               None
21                                               None
22                                               None
23                                               None
24                                               None
25                                               None
26                                               None
27                                               None
28                                               None
29                                               None
30  Arjun Appadurai\nDaniele Archibugi\nK. Anthony...
31                                               None
32                                               None
33                                               None
34                                               None
35                                               None

                                                   4   \
0   Alternative fuel vehicle propulsion\nBirth con...

In [16]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://en.wikipedia.org/wiki/World_population'

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# Find all the tables on the webpage
tables = soup.find_all('table')
# Try to find the correct table by index (assuming it's the first one)
if tables:
    table = tables[0]  # You can adjust this index if necessary
else:
    print("No tables found!")
    exit()
dataframes = []  # List to store all dataframes

# For each table, create a DataFrame and append it to the list
for i, table in enumerate(tables):
    # The [1:] is to skip the header row
    rows = table.find_all('tr')[1:]
    data = []
    for row in rows:
        cols = row.find_all('td')
        cols = [col.text.strip() for col in cols]
        data.append(cols)
    df = pd.DataFrame(data)
    dataframes.append(df)

# Now dataframes[0], dataframes[1], etc. each contain a different table from the page
dataframes[5]

Empty DataFrame
Columns: []
Index: []